td .bold-item {
    font-weight: 800;
}

.todo-list-card {
    background-color: #fefefe;
    border-radius: 0;
    max-width: 300px;
}

    .todo-list-card .card-divider {
        border-bottom: 2px solid #cacaca;
        background: inherit;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        .todo-list-card .card-divider h3 {
            margin-bottom: 0;
        }

        .todo-list-card .card-divider .close-button {
            position: inherit;
        }

    .todo-list-card ul {
        list-style-type: none;
        margin: 0;
    }

        .todo-list-card ul li {
            background-color: #e6e6e6;
            margin: 10px 0;
            padding: 10px;
        }

        .todo-list-card ul input[type="checkbox"] {
            position: absolute;
            visibility: hidden;
            left: -99999px;
        }

            .todo-list-card ul input[type="checkbox"] ~ label {
                position: relative;
                margin-left: 2rem;
            }

                .todo-list-card ul input[type="checkbox"] ~ label::after {
                    background: #fefefe;
                    border: 1px solid #e6e6e6;
                    content: '';
                    display: block;
                    height: 20px;
                    left: -2rem;
                    width: 20px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-80%);
                    -ms-transform: translateY(-80%);
                    transform: translateY(-80%);
                }

            .todo-list-card ul input[type="checkbox"]:checked ~ label:after {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 18px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\f00c";
                color: #1779ba;
                border: 1px solid #1779ba;
            }

.card-question-group {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}

.responsive-card-table {
    border-collapse: collapse;
}

    .responsive-card-table.unstriped tbody {
        background-color: transparent;
    }

    .responsive-card-table th {
        background-color: #e6e6e6;
    }

    .responsive-card-table tr,
    .responsive-card-table th,
    .responsive-card-table td {
        border: 1px solid #0a0a0a;
    }

@media screen and (max-width: 640px) {
    .responsive-card-table {
    }

        .responsive-card-table thead tr {
            position: absolute;
            top: -9999em;
            left: -9999em;
        }

        .responsive-card-table tr {
            border: 1px solid #0a0a0a;
            display: block;
        }

            .responsive-card-table tr + tr {
                margin-top: 1.5rem;
            }

        .responsive-card-table td {
            border: none;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            border-bottom: 1px solid #0a0a0a;
            padding-left: 50%;
            position: relative;
        }

            .responsive-card-table td:before {
                content: attr(data-label);
                display: inline-block;
                font-weight: bold;
                line-height: 1.5;
                margin-left: -100%;
                width: 100%;
                position: relative;
                z-index: 1;
            }

            .responsive-card-table td:after {
                content: '';
                position: absolute;
                background: #e6e6e6;
                width: 45%;
                height: 95%;
                left: 1px;
                top: 1px;
                z-index: 0;
            }
}
